<form class="myForm" (ngSubmit)="createUser()">
<div class="form">
  <label for="name"> Insert your name: </label>
  <input
    type="text"
    name="name"
    id="name"
    #nameInput
  />
</div>

<div class="anotherForm " style="margin-top: 20px">
  <label for="email"> Insert your email: </label>
  <input
    type="text"
    name="name"
    id="email"
    class="form-control"
    #emailInput
  />
</div>

<div class="anotherForm " style="margin-top: 20px">
  <label for="checkbox"> Active: </label>
  <input
    type="checkbox"
    name="name"
    id="checkbox"
    class="form-control"
    #booleanChoice
  />
</div>
<div>
<select class="select" name="select" id="select" #role>
  <option value="void"> </option>
  <option value="user">user</option>
  <option value="editor">editor</option>
  <option value="admin">admin</option>
</select>
  </div>

  <button style="margin-top: 20px" type="submit" class="btn btn-primary">Create</button>

</form>


